nav {
  @apply translate-x-[-50%];

}

#scroll-header {
  @apply bg-brandColor-500 w-[100vw] z-50;

}

#scroll-header .open-menu {
  @apply static;
}

#scroll-header svg:nth-child(1) path {
  @apply fill-white;
}

#scroll-header button svg path {
  stroke: white;
}

.menu {
  visibility: hidden;
  transition: transform 300ms ease-in-out;
  transform: translateY(-100%);
}

.navbar-open .menu {
  @apply bg-brandColor-500 w-[100%] h-[100vh] visible overflow-hidden fixed top-0 left-0 flex flex-col items-center justify-center gap-6 translate-y-0;
}


.navbar-open .close-menu {
  display: initial;
  @apply z-10;
}

.close-menu {
  @apply hidden;
}

.navbar-open .open-menu {
  @apply hidden;
}

.navbar-open nav {
  @apply w-[100%];

}

.navbar-open .doctor-logo {
  @apply z-[100];
}

.navbar-open svg:first-child path {
  @apply fill-white;
}

.navbar-open ul svg:first-child path {
  @apply fill-inherit;
}

.social-midia {
  @apply flex items-center justify-center gap-2;
}

.navbar-open #services,
.navbar-open #beggin,
.navbar-open #about,
.navbar-open #contact {
  @apply -z-50;
}

.navbar-open {
  @apply relative;
}

@media screen and (max-width: 600px) {
  .open-menu {
    @apply absolute right-0 mr-3;

  }
  #scroll-header .open-menu {
    @apply absolute right-0;

  }

  .woman-img {
    @apply w-[16.353rem]
  }

  .blackMan-img {
    @apply w-[20.25rem]
  }

  .doctor-img {
    @apply w-[20.438rem]
  }

}
