nav {
  @apply translate-x-[-50%] ;

}

#scroll-header {
  @apply bg-brandColor-500 z-50 transition-colors;

}
#scroll-header .nav-links li {
  @apply lg:text-[#ffffff] lg:hover:border-white transition-colors ;
}
#scroll-header .nav-whats-btn {
  @apply lg:ring-1 lg:ring-[#ffffff] lg:text-white transition-colors 
  lg:hover:text-brandColor-500 lg:hover:bg-white;
}
#scroll-header .open-menu {
  @apply static;
}
#scroll-header svg:nth-child(1) path {
  @apply fill-white;
}

#scroll-header button svg path {
  stroke: white;
}

.navbar-open .menu {
  @apply bg-brandColor-500 w-[100%] h-[100vh] visible  fixed top-0 left-0 flex flex-col items-center justify-center gap-6 translate-y-0;
}

.navbar-open .close-menu {
  display: initial;
  @apply z-10;
}

.close-menu {
  @apply hidden;
}

.navbar-open .open-menu {
  @apply hidden;
}

.navbar-open nav {
  @apply w-[100%];

}

.navbar-open .doctor-logo {
  @apply z-[100];
}

.navbar-open svg:first-child path {
  @apply fill-white;
}

.navbar-open ul svg:first-child path {
  @apply fill-inherit;
}

.social-midia {
  @apply flex items-center justify-center gap-2;
}

.navbar-open #services,
.navbar-open #beggin,
.navbar-open #about,
.navbar-open #contact {
  @apply -z-50;
}
.presentation-card:last-child {
  border-right: 1px solid transparent;
}

.navbar-open {
  @apply relative ;
}

 
@media screen and (max-width: 764px) {
 
  .doctor-logo{
    @apply px-5;
  }
  #scroll-header nav{
    @apply bg-brandColor-500 px-4 z-50 transition-colors w-[100%];
  }
  .navbar-open nav {
    @apply  px-4;
  }
  nav {
    @apply w-[23.438rem]  h-[4.5rem];
  }
  
  .nav-links {
    @apply w-[17.125rem] h-[23.188rem] text-2xl font-bold text-white py-4 ;
  }

  .nav-whats-btn {
    @apply absolute top-[24rem] flex items-center w-[17.125rem] h-[3.438rem] font-bold text-lg bg-white;
  }

  .menu {
    visibility: hidden;
    transition: transform 300ms ease-in-out;
    transform: translateY(-100%);
  }
  .menu .nav-links{
    @apply text-white ;
  }
  .main-container {
    @apply w-[23.438rem] h-[67.5rem];
    
  }
  .open-menu {
    @apply absolute right-0 mr-3;

  }
  #scroll-header .open-menu {
    @apply absolute right-0;

  }
  .woman-img {
    @apply w-[16.353rem]
  }

  .blackMan-img {
    @apply w-[20.25rem]
  }
  .about-infos{
    @apply gap-4 flex flex-col
  }
  .doctor-img {
    @apply w-[20.438rem]
  }

  #beggin{
    @apply pt-[4.5rem]
  }
  .presentation-h1{
    @apply text-4xl w-[20.438rem] mt-4 mx-6 self-center ;
  }
  .presenation-h4{
    @apply  mt-10 mx-[3.75rem]
  }
  .presentation-p{
    @apply  mt-6 mx-6
  }
  .presentation-cards{
    @apply flex-col w-[20.438rem] h-[29.375rem] gap-[3.75rem]
  }

}
@media screen and (max-width: 1364px) and (min-width: 765px) {
  .cards-service {
    @apply  mb-80 w-[20.438rem] h-[100rem] 
  }
  .presentation-h1 {
    @apply break-words ;
  }
  #beggin .woman-img{
    @apply w-[20.438rem] relative right-12;
    
  }
 
  #services{
    @apply  h-[67.625rem]
  }
  .presentation-cards{
    @apply py-0 relative bottom-14 left-2
  }
}
