@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container-page {
  font-family: 'DM Sans', sans-serif;
}

.woman-img {
  object-position: 0 1.5rem;
}
html{
  scroll-behavior: smooth;
}
.main-container::before {
  content: '';
  @apply bg-brandColor-200 w-[100%] block h-[73.5rem] z-[-1] absolute top-0 left-0;
}



